@import com.junhua.profile.model.LoginModel.LoginView



@*<form action="/checkCookies" method="POST">*@
    @*<input name="identifier" type="text" placeholder="@vm.username"/>*@
    @*<input name="password" type="password" placeholder="@vm.password"/>*@
    @*<input type="submit"/>*@
@*</form>*@

<form action="/checkCache" method="POST">
    <input name="identifier" type="text" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
    <input type="submit"/>
</form>



